* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 70px;
  background-color: #EC715F ;
}
.header-group {
  display: flex;
  justify-content: space-between;
  font-size: 0;
}
.container {
  width: 1024px;
  margin: 0 auto;
}

.logo {
  height: 70px;
}

.ul {
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  padding-inline-start: 40px;
}
.nav-list {
  width: 120px;
  line-height: 70px;
  color: #fafafa;
  padding: 0 30px;
  list-style: none;
  font-size: 16px;
}
.nav-list a {
  color: #fafafa;
}


#mv {
width: 100%;
height: 650px;
text-align: center;
color: #fafafa;
background-image: url(/Users/higakisei/Desktop/WALS/img3/mv.png);
background-size: cover;
background-position: center;
}
.mv-title {
  padding-top: 200px;
  font-family: 'Raleway', sans serif;
  font-size: 64px;
}
.mv-text {
  padding-top: 10px;
  font-size: 20px;
}
.container {
  width: 1024px;
  margin: 0 auto;
}



#portfolio {
  background-color: #eceff1;
}
.heading {
  padding-top: 90px;
  text-align: center;
  font-family: 'Raleway', sans serif;
  font-size: 32px;
}
.heading-text {
  padding-top: 30px;
  text-align: center;
  font-size: 16px;
}
.production-group {
  display: flex;
  flex-flow: row wrap;
  width: 920px;
  padding: 30px 0 90px 0;
  margin: 0 auto;
}
.container {
  width: 1024px;
  margin: 0 auto;
}

.bg-1 {
  background-image: url(/Users/higakisei/Desktop/WALS/img3/sketch.jpg);
}
.production {
  width: 300px;
  height: 250px;
  margin: 10px 10px 0 0;
  background-size: cover;
  background-position: center;
}
.bg-2 {
  background-image: url(/Users/higakisei/Desktop/WALS/img3/websuku.png);
}
.bg-3 {
  background-image: url(/Users/higakisei/Desktop/WALS/img3/write.jpg);
}
.bg-4 {
  background-image: url(/Users/higakisei/Desktop/WALS/img3/webcamp.png);
}
.bg-5 {
  background-image: url(/Users/higakisei/Desktop/WALS/img3/talk.jpg);
}
.bg-6 {
  background-image: url(/Users/higakisei/Desktop/WALS/img3/webcamp-mother.png);
}


#feature {
  background-size: cover;
  background-position: center;
}
.heading {
  padding-top: 90px;
  text-align: center;
  font-family: 'Raleway', sans serif;
  font-size: 32px;
}
.heading-text {
  padding-top: 30px;
  text-align: center;
  font-size: 16px;
}
.strength-group {
  display: flex;
  width: 980px;
  padding: 30px 0 90px 0;
  margin: 0 auto;
}
.container {
  width: 1024px;
  margin: 0 auto;
}

.strength {
  width: 320px;
  margin-right: 10px;
  text-align: center;
  font-size: 60px;
}
.strength-title {
  padding: 10px 0;
  font-size: 20px;
}
.strength-text {
  text-align: left;
  font-size: 16px;
}

#profile {
  background-color: #eceff1;
}
.container {
  width: 1024px;
  margin: 0 auto;
}
.heading {
  padding-top: 90px;
  text-align: center;
  font-family: 'Raleway', sans serif;
  font-size: 32px;
}
.heading-text {
  padding-top: 30px;
  text-align: center;
  font-size: 16px;
}
.profile-group {
  display: flex;
  padding: 30px 0 90px 0;
}
.left-content {
  width: 50px;
}
.my-face {
  width: 250px;
  height: 250px;
  margin: 0 auto;
  border-radius: 50%;
  background-image: url(/Users/higakisei/Desktop/WALS/img3/my-icon.jpg);
}
.right-content {
  width: 50px;
}
.description-title {
  margin: 20px 0 5px 0;
  font-size: 20px;
}
.description-text {
  font-size: 16px;
}
.description-title {
  margin: 20px 0 5px 0;
  font-size: 20px;
}
.description-text {
  font-size: 16px;
}

section {
  display: block;
}
.container {
  width: 1024px;
  margin: 0auto;
}
.heading {
  padding-top: 90px;
  text-align: center;
  font-family: 'Raleway', sans serif;
  font-size: 32px;
}
.heading-text {
  padding-top: 30px;
  text-align: center;
  font-size: 16px;
}
.contact-group {
  display: flex;
  width: 800px;
  padding: 30px 0 90px 0;
  margin:0 auto;
}
.left-content {
  width: 50%;
}
.left-contact-content {
  width: 130px;
  margin: 0 auto;
}
.right-content {
  width: 50%;
}
footer {
  width: 100%;
  height: 60px;
  background-color: #EC715F;
  line-height: 60px;
}
.copy-right {
  font-size: 16px;
  color: #fafafa;
  text-align: center;
}